<div id="work" class="work">
    <div class="container">
        <div class="service-head text-center">
                    <h4>WHAT I DID</h4>
                    <h3>MY <span>EXPERIENCE</span></h3>
                    <span class="border one"></span>
                </div>
                <div class="time-main w3l-agile">
                        <div class="col-md-6 year-info">
                           <ul class="year">
                               <li>2020 - Present</li>
                               <li>2017 - 2020</li>
                            
                               <div class="clearfix"></div>
                            </ul>
                        </div> 
                                        <ul class="col-md-6 timeline">
                                                            <li>
                                                              <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
                                                              <div class="timeline-panel">
                                                                <div class="timeline-heading">
                                                                  <h4 class="timeline-title">Tech Mahindra Ltd.</h4>
                                                                </div>
                                                                <div class="timeline-body">
                                                                  <p>Tech Mahindra Ltd is a service based and it's CMMI Level-5 Company.</p>
                                                                </div>
                                                              </div>
                                                            </li>
                                                            
                                                            <li>
                                                              <div class="timeline-badge primary"><i class="glyphicon glyphicon-briefcase"></i></div>
                                                              <div class="timeline-panel">
                                                                <div class="timeline-heading">
                                                                  <h4 class="timeline-title">SmartData Enterprises Ltd.</h4>
                                                                </div>
                                                                <div class="timeline-body">
                                                                  <p>SmartData Enterprises Ltd is a service based and it's CMMI Level-3 Company.</p>
                                                                </div>
                                                              </div>
                                                            </li>
                                                            
                                                            
                                                            
                                                            
                                                        </ul>
                            <div class="clearfix"></div>
                            </div>
                    </div>
            </div>